.loader {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: radial-gradient(farthest-side, #0052cc 95%, #0000) 50% 0/12px 12px
      no-repeat,
    radial-gradient(
        farthest-side,
        #0000 calc(100% - 5px),
        #0052cc calc(100% - 4px)
      )
      content-box;
  animation: loader 2s infinite;
}
@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}
